<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">
    <img src="assets/img/logo.png" height="70" alt="logo">
  </a>
  <div class="nav nav-pills">
    <a class="navbar-item nav-link" routerLink="">
      Главная
    </a>
    
    <a class="navbar-item nav-link" routerLink="/about">
      О нас
    </a>
     
    <a class="navbar-item nav-link" routerLink="/signIn">
      Войти
    </a>

    <a class="navbar-item nav-link" routerLink="/signUp">
      Регистрация
    </a>
  </div>
</nav>
