
<section>
    
     
    <div class="register">
        <p>Sign Up</p>
        <span>Search from more than 410,953 jobs at nearly 15,000 employers!</span>
               <div id="login">
       <input type="text" id="email" placeholder="Email" required>
       <br>
       
               <input type="password" id="password" placeholder="Create password" required> 
               </div>
               <br>
               <span>By submitting this form, I agree to Snag's Terms of Use and Privacy Policy.</span>
       
           </div>
    <div class="right" >
        <p>Resume Information</p>
        <div id="firstlast">
       
            <label for="name">*First Name</label>
            <br>
        <input type="text" id="name" placeholder="" required>
        <br>
         </div>
         <br>
         <div id="lname">
        <label for="lname">*Last Name</label>
        <br>
        <input type="text" id="lname"  required>
        
         </div>
       
        <br>
       
        <div id="number">
            <label for="number">*Mobile Number </label>
            <br>
             
             <input type="text" id="number"  required>
            
             </div>
             
             
             <br>
            
             <div id="birth">
            <label for="birth">*Birthday</label> 
            <br>
             
             <input type="date">
             <br>
            
             </div>
             
             <br>
             
             <div id="sex">
                 <input type="radio" id="f" value="Female">
             <label for="f" >Female</label>
             <br>
                 <input type="radio" id="m" value="Male">
             <label for="m" >Male</label>
             </div>
             
             
             <br>
            
             <div id="city">
             <label for="city">*Place of residence</label>
             <br>
             <input type="text"   id="city " required>
             <br>
            
             </div>
            <br>
            
             <div id="educ">
            
                 <label for="ed">*Education</label>
                 <br>
             <input type="text"   id="ed " required>
             </div>
            
             <br>
            
             <div id="*Experience">

                <label >*Get Experience</label>
                    <br>
                    <br>
            <input type="radio"   id="full" value="Full Time" required>
            <label for="full">Full Time</label>
            <br>
           
            <input type="radio"   id="part" value="Part Time" required>
            <label for="full">Part Time</label>
            </div>
            <div id="submit"> 

                <input type="submit" value="Sign Up">
             </div>
           

           
            
            
       
       </div>
       

</section>
