

  .register{
  
      text-align: left;
     
      
      margin-left: 10%;
      margin-right:13%;
      float: left;
      margin-bottom: 100%;
    
  }
  .register p{
      font-size: 40px;
      margin-bottom:5px;
      margin-left:50px;
      color:black;
  
      font-family:Arial, Helvetica, sans-serif; 
  }
  .register #login input[type="text"] {
      border:1px solid #ba6e0a;
      
      border-radius: 3px;
      width: 350px;
      font-size:20px;
   padding:6px;
  
  }
  .register #login input[type="password"] {
      border:1px solid #ba6e0a;
      border-radius: 3px;
      width: 350px;
      font-size:20px;
   padding:6px;
   margin-top:10px;
  }
  span{
       margin-top:10px;
       color:black;
  }
 
  
  #submit input[type="submit"]{
      
      color: black;
      
      height: 50px;
      width: 350px;
      font-weight: solid;
      background-color: #ba6e0a;
      border: 1px solid rgb(59, 110, 34);
      font-size: 23px;
      color: black;
      border-radius:50px;
      }
  
    .right {
      color:black;
      margin-left: 40px;
      font-size: 20px;
      
    }  
    .right p{
      font-size: 40px;
      margin-bottom:15px;
      color: black;
      
  
      font-family:Arial, Helvetica, sans-serif; 
    }
   p::first-letter{
  color:#ba6e0a;
    }
    .right  input[ type="text"]{
      border:1px solid #ba6e0a;
      border-radius: 10px;
      width: 350px;
      font-size:20px;
   padding:6px;
   margin-top:10px;
  
    }
    .right  input[ type="date"]{
    
      border:1px solid #ba6e0a;
      border-radius: 10px;
      width: 350px;
      font-size:20px;
   padding:6px;
   margin-top:10px;
  color:#ba6e0a;
  }
    
  
