<div id="heading">
<img id="about-us" src="./assets/img/about-us-title-image.png" alt="About us"> 
<!-- <img id="about-us" src="./assets/img/nice-to-meet-you.jpg" alt="Nice to meet you!">  -->
  <h1>HELLO, <br> WE ARE GETXP</h1>
  <!-- <img src="./assets/img/logo2.png" alt="logo"> 
  <h1>WE ARE DIFFERENT</h1> -->
</div>

<div id="info">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
    consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
    consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
  </p>
</div>

<div id="team">
  <h1>Our team</h1>
</div>
